.container {
  width: 100%;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.comment {
  flex-direction: column;
  width: 200px;
  height: 200px;
  color: #444;
  border-radius: 5px;
}

.full-comment {
  flex-direction: column;
  padding: 8px;
  width: 200px;
  height: 200px;
}

.new-comment {
  flex-direction: column;
  width: 600px;
  height: 200px;
  padding: 8px;
}

label {
  margin-right: 8px;
}
