.container {
  width: 100%;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.comment {
  flex-direction: column;
  align-items: flex-start;
  padding: 0 8px;
  width: 200px;
  height: 200px;
  font-size: .9rem;
  color: #444;
  border-radius: 5px;
  cursor: pointer;
  color: #6366f1;
  background-color: #e0e7ff;
}

div.full-comment {
  flex-direction: column;
  align-items: flex-start;
  padding: 12px;
  max-width: 800px;
  height: 200px;
  color: #6366f1;
  background-color: #e0e7ff;
  margin: 2rem 0;
  border-radius: 5px;
}
.full-comment span{
  font-weight: bold;
}

p.full-comment{
  background-color: #e0e7ff;
  margin: 2rem 0;
  padding: 12px;
  border-radius: 5px;
  width: 400px;
  color: #e11d48;
}

.delete-btn{
  color: #e11d48;
  border: 1px solid #e11d48;
  background-color: unset;
  padding: 6px;
  border-radius: 5px;
  cursor: pointer;
}
.delete-btn:hover{
  background-color: #e11d48;
  color: #fff;
}

.new-comment {
  flex-direction: column;
  width: 600px;
  padding: 8px;
  background-color: #e0e7ff;
  border-radius: 5px;
  color: #6366f1;
  font-weight: bold;
}

.new-comment input, .new-comment textarea{
  border: 1px solid #6366f1;
  color: #6366f1;
  width: 250px;
  padding: 5px 3px;
  border-radius: 5px;
  outline: none;
  margin-bottom: 8px;
}
.new-comment textarea{
  resize: none;
  height: 120px;
}
.add-btn{
  border: 1px solid #6366f1;
  color: #6366f1;
  border-radius: 5px;
  background-color: unset;
  padding: 8px;
  cursor: pointer;
  margin: 8px 0;
}
.add-btn:hover{
  background-color: #6366f1;
  color: #fff;
}

label {
  margin-right: 8px;
}
